@base-background: #faf8ef;
@empty-cell-background: #ddd;

body {
  margin-top: 80px;
  background: @base-background;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  float: left;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.fifteen-puzzle {
    border: 1px solid #ccc;
    border-spacing: 0;
    clear: both;
}

.fifteen-puzzle td {
    border-collapse: collapse;
    border: 2px outset white;
    cursor: pointer;
    padding: 0;
}

.fifteen-puzzle .puzzle-empty {
    border: none;
    background-color: @empty-cell-background !important;
}